<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%=
      render(
        partial: "api/users/current_user.json.jbuilder",
        formats: [:json],
  		  locals: { user: current_user }
      ).html_safe
    %>
  <% end %>

  window.staticImages = {
    pencil: "<%= asset_path('pencil.png') %>",
    camera: "<%= asset_path('camera.png') %>",
    like: "<%= asset_path('like.png') %>",
    unlike: "<%= asset_path('unlike.png') %>",
    likeCircle: "<%= asset_path('like-circle.png') %>",
    commentBubble: "<%= asset_path('comment-bubble.png') %>",
    friendsBubble: "<%= asset_path('friends-bubble.png') %>",
    globeBubble: "<%= asset_path('globe-bubble.png') %>",
    photoBubble: "<%= asset_path('photo-bubble.png') %>",
    hometown: "<%= asset_path('hometown.png') %>",
    location: "<%= asset_path('location.png') %>",
    school: "<%= asset_path('school.png') %>",
    workplace: "<%= asset_path('workplace.png') %>",
  }
</script>
<main id="root"></main>
